# enviroment variables
.env
.dev.env

# ignore pychache
*/__pycache__/
*.pyc

# local dev stuff
/service

# ignore IDE
/.idea
/.vscode

# ignore files generated during operation of bot
/tmp
*.csv

# the ai model, too large to be pushed onto GitHub
*.gguf