[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "*"
aiohttp = "*"
aiosignal = "*"
attrs = "*"
frozenlist = "*"
idna = "*"
multidict = "*"
nextcord = "*"
numpy = "*"
pandas = "*"
propcache = "*"
psutil = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
scipy = "*"
six = "*"
typing-extensions = "*"
tzdata = "*"
yarl = "*"
gpt4all = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "python ."
test = "python tests/runner.py"
